@tailwind base;
@tailwind components;
@tailwind utilities;

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d1d5db;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.animation-underline {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .8s;
}

.animation-underline:hover {
  background-size: 100% 1px;
}

.my-input {
  @apply block py-3 px-4 border rounded-xl focus:outline-none w-full shadow-sm hover:shadow;
}

.my-btn-gradient {
  @apply btn border-none rounded-full bg-gradient-to-br from-red-600 to-indigo-600
}

.input[disabled] {
  @apply bg-white
}